
.objectblock{
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 5px;
  height: 100%;
}

.objectblock_modeDiv{
  height: 3px;
}
.selectedColour{
  background-color:#6f7bcf;
}

.grayBG{
  padding-left: 3px;
  background-color: #e8e8e8;
}

.withoutBorder{
  border: none;
}

.graySolidBorder {
  border: solid 1px;
  border-color: #9da0a4;
}

.portalPage_saveButton {
  vertical-align: middle;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.objectRow_removeObjectButton{
  color: red;
  border: none;
}

.errorsBlock{
  background-color: #f5e1e1;
  color: #b76665;
}